@import "tailwindcss";

@theme {
  --color-almond: #bdd7de;
  --color-coffeBean: #583722;
}
:root {
  --background: var(--color-almond);
  --foreground: var(--color-coffeBean);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-almond);
    --foreground: var(--color-coffeBean);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background: var(--background);
}
.navLink :hover {
  color: #1f2937;
  transform: scale(1.1);
}

.navLink {
  transition: transform 0.3s;
}
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
.glassBackground {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.03;
  pointer-events: none;
  z-index: 9999;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}

::selection {
  background-color: #583722;
  color: #bdd7de;
}
